<div class="container mx-auto">
  <div class="pt-8 pr-4 pb-4 pl-4 bg-gray-800"> <!-- General masthead spacing adjustment -->

    <div class="mb-4">
      <div class="w-3/5 tn:w-2/5 sm:w-2/5 mx-auto">{% include masthead/masthead_logo.html %}</div>
    </div>

    <div class="md:hidden">
      <a class="masthead-menu-trigger block rounded border border-teal-700 text-center p-2 mb-2 mx-auto w-3/5 text-teal-400" href="#">MENU</a>
    </div>

    <ul class="masthead-menu text-gray-500 hidden md:block">
      <li class="border-t border-gray-600">
        <a class="pl-2 py-2 block hover:bg-teal-700 hover:text-gray-200" href="">About</a>
      </li>
      <li class="border-t border-gray-600">
        <a class="pl-2 py-2 block hover:bg-teal-700 hover:text-gray-200" href="">Our Projects</a>
      </li>
      <li class="border-t border-gray-600">
        <a class="pl-2 py-2 block hover:bg-teal-700 hover:text-gray-200" href="">Engaging Students</a></li>
      <li class="border-t border-gray-600">
        <a class="pl-2 py-2 block hover:bg-teal-700 hover:text-gray-200" href="">APEC Funds</a>
      </li>
      <li class="border-t border-b border-gray-600">
        <a class="pl-2 py-2 block hover:bg-teal-700 hover:text-gray-200" href="">Chile 2019</a>
      </li>
    </ul>

  </div>
</div>
