<div class="bg-gray-800">
  <div class="container mx-auto">

    <!-- Menu that shows before md breakpoint -->
    <div class="pt-8 pr-4 pb-4 pl-4 md:hidden lg:hidden xl:hidden">
      <div class="mb-4">
        <div class="w-3/5 tn:w-2/5 sm:w-2/5 mx-auto">
          <a href="{{ home_link }}">{% include masthead/masthead_logo.html %}</a>
        </div>
        <div class="text-sm text-center mt-2 text-gray-600">
          {{ site.data.info.site_name[current_lg] }}
        </div>
      </div>

      <div>
        <a class="masthead-menu-trigger block rounded border border-teal-700 text-center p-2 mb-2 mx-auto w-3/5 text-teal-400" href="#">MENU</a>
      </div>

      <ul class="masthead-menu text-gray-500 hidden">
        {% for nav in nav_links %}
          <li class="border-b border-gray-600">
            <a class="pl-2 py-2 block hover:bg-teal-700 hover:text-gray-200 {% if page.url contains nav.link %} bg-gray-700 text-teal-400 {% endif %}" href="{{ home_link }}{{ nav.link }}" %>{{ nav.title }}</a>
          </li>
        {% endfor %}
          <li class="border-b border-gray-600">
            <a class="pl-2 py-2 block hover:bg-teal-700 hover:text-gray-200" href="{{ translating_to | prepend: '/' | append: '/' | append: split_url[2] }}" %>{{ translating_text }}</a>
          </li>
      </ul>
    </div>

    <!-- Menu that shows after md breakpoint -->
    <div class="pt-8 pr-4 pb-4 pl-4 flex
                hidden md:block lg:block xl:block">
      <div class="text-center
                  xl:inline-block xl:w-1/4 xl:text-left">
        <div class="w-2/6 mx-auto
                    xl:w-3/5 xl:ml-0">
          <a href="{{ home_link }}">{% include masthead/masthead_logo.html %}</a>
        </div>
        <div class="text-sm mt-2 text-gray-600">
          {{ site.data.info.site_name[current_lg] }}
        </div>
      </div>

      <ul class="text-gray-500 align-top pt-6 text-center
                 xl:inline-block xl:pt-2 xl:text-lg xl:text-right xl:w-2/3">
        {% for nav in nav_links %}
          <li class="inline-block">
            <a class="p-2 hover:bg-teal-700 hover:text-gray-200 rounded {% if page.url contains nav.link %} bg-gray-700 text-teal-400 {% endif %}" href="{{ home_link }}{{ nav.link }}" %>{{ nav.title }}</a>
          </li>
        {% endfor %}
          <li class="inline-block">
            <a class="p-2 hover:bg-teal-700 hover:text-gray-200 rounded" href="{{ translating_to | prepend: '/' | append: '/' | append: split_url[2] }}" %>{{ translating_text }}</a>
          </li>
      </ul>
    </div>

  </div>
</div>
