---
---

<!doctype html>
<html class="no-js" lang="en-US">

{% include settings.html %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }} |
    {% if split_url contains "zh" %}
      {{ site.data.info.chinese_name }}
    {% else %}
      {{ site.data.info.english_name }}
    {% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>

<body style="background: #D9E2F2;">

  {% include masthead.html %}

  <div class="container mx-auto">
    <div class="mx-6 my-8">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

</body>
</html>
